.body-footer {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:10px;
    color:white;
    background-color:rgb(22, 22, 22);
    margin:0px;
    height: 300px;
    width: 100vw;

    .content-footer {
        padding-top:50px;
    }
    .information-footer {
        margin-top:40px;
        p {
            margin-top:3px;
        }
    }
    .linkedin-fig-img {
        transition-duration: 0.5s;
        width: 35px;
        border-radius: 100px;
        margin-top:45px;
        border-style: solid;
        border-color: #A9A9A9;
        border-width: 1px;
    }

    .linkedin-fig-img:hover {
        transition-duration: 0.5s;
        width: 50px;
        border-radius: 100px;
        margin-top:45px;
        border-style: solid;
        border-color: #A9A9A9;
        border-width: 1px;
    }
}