.welcome {
    
    .contofh1 {
        position: relative;
        top:-300px;        
    }

    .spefig {
        margin-top:-60px;
        border-radius: 20px;
    }

    .specific-h1 {
        font-size:30px;
        font-weight: 340;
    }
}